html{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

*{
    box-sizing: border-box;
}

.link-plain,
.link-plain:hover,
.link-plain:active,
.link-plain:visited {
    text-decoration: none;
}
#va_container {
    position: relative;
    max-width: 1840px;
    margin: auto;
}
.va-carrousel-flexbox {

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.va-carrousel-flexbox .va-card {
    flex: 0 0 auto;
    padding-left: 15px;
}

.va-carrousel-flexbox .va-card:last-child {
    margin-right: 15px;
}

.va-carrousel-flexbox .va-card:last-child::after {
    content: ' ';
    display: inline-block;
}

.va-card {
    width: 150px;
    cursor: pointer;
    user-select: none;
    outline: none;
}

.va-card:hover {
    user-select: none;
    outline: none;
}

.va-card a {
    display: block;
}

@media (min-width: 768px) {
    .va-card {
        width: 250px;
    }
}

.va-carrousel-flexbox {
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.va-carrousel::-webkit-scrollbar,
.va-carrousel-flexbox::-webkit-scrollbar {
    display: none;
}
.deals-paddle {
    height: 38px;
    width: 38px;
    color: white;
    background-color: #00000089;
    border-radius: 50%;
    border: 0px solid;
    margin: auto;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.deals-paddle:focus {
    outline: none;
}

.deals-paddle:active {
    border-style: solid;
    outline: none;
    user-select: none;
}

.deals-paddle svg {
    width: 10px;
}

.deals-scroll-left {
    top: 0;
    left: 5px;
    bottom: 0;
}

.deals-scroll-right {
    top: 0;
    bottom: 0;
    right: 5px;
}

.va-carrousel-section {
    font-family: "Roboto"
    padding: 0px;
    position: relative;
}

@media (min-width: 768px) {

    .va-carrousel-section {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.va-whitewrap {
    padding-top: 15px;
    margin-top: 15px;
}
